/* .state-popup {
  width: 350px;
  background: grey;
} */

.heading-popup {
  font-size: 24px;
  background: #ff8184;
}

.stats {
  width: 250px;
}

.item {
  margin-right: 100px;
}

.graph {
  margin-top: 10px;
}
