@import "~antd/dist/antd.css";

:root {
  --main-bg-color: #1d8bf1;
  --main-text-color: white;
  --grey-text-color: #bdbdbd;
  --main-text-font: Archivo Black;
  --description-text-font: Open Sans;
}

.search-header {
  background-color: #f2f2f2;
  padding: 5px 0px 5px 0px;
  border-bottom: 1px solid #c5c5c5;
  display: flex;
  overflow-x: auto;
}

.button-first {
  margin-right: 10px;
  margin-left: 20px;
}
.button {
  margin: 0px 5px;
}

.slider {
  padding-left: 10px;
  width: 200px;
}

.logo {
  width: 30%;
  min-width: 200px;
  max-width: 350px;
}
