:root {
  --main-bg-color: #1d8bf1;
  --main-text-color: white;
  --grey-text-color: #bdbdbd;
  --main-text-font: Archivo Black;
  --description-text-font: Open Sans;
}

.search-header {
  background-color: #f2f2f2;
  padding: 5px 0px 5px 0px;
  border-bottom: 1px solid #c5c5c5;
  display: flex;
  overflow-x: auto;
}

.zipcode-input-container {
  padding-right: 20px;
  padding-left: 10px;
  margin-left: auto;
}

.resort-search {
  width: 200px;
}

.resort-search-container {
  padding-left: 10px;
}

.days-out-dropdown-container {
  padding-left: 20px;
}

.pass-dropdown-container {
  padding-left: 10px;
}

.logo {
  width: 30%;
  min-width: 200px;
  max-width: 350px;
}
