/* .map-legend {
  position: absolute;
  bottom: 1000px;
  z-index: 6;
} */

/* .legend-container {
  position: fixed;
  top: 50%;
  left: 30px;
  z-index: 5;
} */

.slider-container {
  position: absolute;
  top: 10px;
  left: 40px;
  z-index: 4;
}

.map {
  position: absolute;
  top: 0px;
  left: 0px;
}

.map-container {
  position: relative;
}
