.slider-container {
  position: absolute;
  top: 10px;
  left: 40px;
  z-index: 4;
}

.legend-container {
  position: absolute;
  top: 60px;
  left: 34px;
  z-index: 4;
}
.map {
  position: absolute;
  top: 0px;
  left: 0px;
}

.map-container {
  position: relative;
}
