/* .state-popup {
  width: 350px;
  background: grey;
} */

.heading-popup {
  margin-top: 20px;
  font-size: 24px;
  background: #ff8184;
  color: white;
  padding-left: 10px;
  font-weight: bold;
}

.stats {
  padding-top: 20px;
  width: 300px;
  margin: auto;
}

.item {
  margin-right: 100px;
}

.graph {
  margin-top: 20px;
}

.graph-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  color: black;
}
