/*
* === Meta Variables===
*/

:root {
  --main-bg-color: #1d8bf1;
  --main-text-color: white;
  --grey-text-color: #bdbdbd;
  --main-text-font: Archivo Black;

  --heading-text-size: 14px;
  --description-text-font: Open Sans;
  --description-text-size: 14px;

  --sidebar-width: 370px;
}

/*
* === Header Components ===
*/

.header-main {
  background-color: var(--main-bg-color);
  font-family: var(--main-text-font);
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  line-height: 10px;
  text-transform: uppercase;

  display: flex;
}

.header-title {
  font-size: 25px;
  color: var(--main-text-color);
}

.header-main img {
  width: 25%;
  margin-left: auto;
  padding-right: 5px;
  align-self: center;
}

.header-7-day-forecast {
  font-size: 16px;
  color: var(--main-text-color);
}

/*
* === Snapshot Description Components ===
*/

.snapshot {
  grid-column: 2;
  grid-row: 1;
}

.snapshot-header {
  color: var(--grey-text-color);
  font-family: var(--main-text-font);
  font-size: var(--heading-text-size);

  padding-top: 5px;
  text-transform: uppercase;
}

.snapshot-info {
  font-family: var(--description-text-font);
  font-size: var(--description-text-size);
  font-weight: bold;

  padding: 0px 15px;
  line-height: 17px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.resort-img {
  width: 100%;
  height: 100%;
  max-height: 170px;
}

.website-button {
  background-color: #51c5f7;
  font-family: var(--main-text-font);
  color: var(--main-text-color);

  display: inline-block;
  padding: 10px;
  border-radius: 25px;

  line-height: 0px;
  font-size: 12px;
}

/*
* === Travel Description Components ===
*/

.travel-description {
  padding: 5px 15px;
  font-family: var(--description-text-font);
  font-size: var(--description-text-size);
}

.driving-stats {
  display: flex;
  padding-left: 20px;
  font-weight: bold;
}

.driving-time {
  display: flex;
  padding-left: 50px;
}

.driving-time p {
  padding-left: 5px;
  font-weight: bold;
}

.car-logo {
  align-self: center;
}

.add-address {
  padding-left: 20px;
  font-weight: bold;
}

/*
* === Snow Report Components ===
*/

.snow-report {
  padding: 5px 0px 0px 5px;
}

.snow-report h1 {
  /* color: var(--grey-text-color); */
  font-family: var(--main-text-font);
  font-size: var(--heading-text-size);
}

.snow-report-text {
  font-family: var(--description-text-font);
  font-size: var(--description-text-size);
}

/*
* === Graph Components ===
*/

.snow-graph {
  margin-bottom: 10px;
}

.snow-graph-container {
  overflow: auto;
}

.snow-graph h1 {
  display: inline;

  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--main-text-font);
  padding: 0px 4px;

  margin-left: 5px;
  font-size: 13px;
}

.snow-graph-container img {
  padding-left: 5px;
  padding-top: 5px;
  overflow-x: scroll;
}

/*
* == Experimental ===
*/

.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

/*
* === Containers ===
*/

.img-and-snapshot-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.img-and-snapshot-container img {
  grid-column: 1;
  grid-row: 1;
}

.resort-sidebar {
  width: var(--sidebar-width);
}
