.map mapGL {
  position: relative;
  top: 0;
  left: 0;
  width: 950px;
  height: 450px;
}

.hover-info {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
}

.hover-info h1 {
  font-weight: bold;
  font-size: 14px;
}

.hover-info p {
  text-transform: lowercase;
  font-size: 14px;
}
