.date-slider {
  display: inline-flex;
  width: 250px;
  height: 38px;
  /* background: #f2f2f2; */
  background: white;
  border-radius: 5px;
  border-color: black;
}

.heading {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
}

.slider {
}
